<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2">Welcome to Clarity Helper</h2>
              <p class="text-white-50 mb-5">Work made easy!</p>

              <div class="form-outline form-white mb-4">
                <%= link_to 'Generate Trigger Message Based On File', home_new_trigger_message_path, class: "btn btn-primary" %>
              </div>

              <div class="form-outline form-white mb-4">
                <%= link_to 'Generate Ingestion Report Based On File', home_new_excel_gen_path, class: "btn btn-primary" %>
              </div>

              <div class="form-outline form-white mb-4">
                <%= link_to 'Generate Trigger Message Based On Source', home_new_source_trigger_path, class: "btn btn-primary" %>
              </div>

              <div class="form-outline form-white mb-4">
                <%= link_to 'Search on Index', elasticsearch_login_path, class: "btn btn-primary" %>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
