<section class="vh-100 bg-light">

  <h2 class="fw-bold mb-1 text-center pt-3">Please Choose Index</h2>

  <div class="container p-4 row m-auto">
    <div class="col-md-6 text-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Provider</th>
        </tr>
        </thead>
        <tbody>
        <% @provider_indexes.each do |index| %>
          <tr>
            <td><%= link_to index, elasticsearch_search_form_path(index_name: index), class: "text-dark", style: "text-decoration:none;" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6 text-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Facility</th>
        </tr>
        </thead>
        <tbody>
        <% @facility_indexes.each do |index| %>
          <tr>
            <td><%= link_to index, elasticsearch_search_form_path(index_name: index), class: "text-dark", style: "text-decoration:none;" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</section>
