<section class="vh-100 bg-light">

  <% if session[:entity_type] == 'provider' %>
    <%= render 'elastic_search/search_form/provider_search_form' %>
  <% elsif session[:entity_type] == 'facility' %>
    <%= render 'elastic_search/search_form/facility_search_form' %>
  <% elsif session[:entity_type] == 'provider_single_doc' %>
    <%= render 'elastic_search/search_form/provider_single_doc_search_form' %>
  <% elsif session[:entity_type] == 'facility_single_doc' %>
    <%= render 'elastic_search/search_form/facility_single_doc_search_form' %>
  <% end %>

</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('myForm').addEventListener('reset', function() {
            const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            fetch('/elasticsearch/clear_search_session', {
                method: 'DELETE',
                headers: {
                    'X-CSRF-Token': token
                }
            }).then(response => {
                if (response.ok) {
                    document.querySelector('#myForm input[name="inputName"]').value = '';
                    document.querySelector('#myForm input[name="inputNpi"]').value = '';
                    document.querySelector('#myForm input[name="inputSource"]').value = '';
                    document.querySelector('#myForm input[name="inputUpdatedDate"]').value = '';
                    document.querySelector('#myForm input[name="inputStableId"]').value = '';
                    document.querySelector('#myForm input[name="inputLocStableId"]').value = '';
                    document.querySelector('#myForm input[name="inputAddrText"]').value = '';
                    document.querySelector('#myForm input[name="inputAddrCity"]').value = '';
                    document.querySelector('#myForm input[name="inputAddrState"]').value = '';
                    document.querySelector('#myForm input[name="inputAddrZip"]').value = '';
                    document.querySelector('#myForm input[name="inputSize"]').value = '';
                }
            });
        });
    });
</script>
