<section class="vh-100 bg-light">

  <% if session[:entity_type] == 'provider' %>
    <%= render 'elastic_search/search_results/provider_search_results' %>
  <% elsif session[:entity_type] == 'facility' %>
    <%= render 'elastic_search/search_results/facility_search_results' %>
  <% elsif session[:entity_type] == 'provider_single_doc' %>
    <%= render 'elastic_search/search_results/provider_single_doc_search_results' %>
  <% elsif session[:entity_type] == 'facility_single_doc' %>
    <%= render 'elastic_search/search_results/facility_single_doc_search_results' %>
  <% end %>
  
</section>
