<section class="vh-100 bg-light">

  <% if session[:entity_type] == 'provider' %>
    <%= render 'elastic_search/view_cluster/provider_view_cluster' %>
  <% elsif session[:entity_type] == 'facility' %>
    <%= render 'elastic_search/view_cluster/facility_view_cluster' %>
  <% elsif session[:entity_type] == 'provider_single_doc' %>
    <%= render 'elastic_search/view_cluster/provider_single_doc_view_cluster' %>
  <% elsif session[:entity_type] == 'facility_single_doc' %>
    <%= render 'elastic_search/view_cluster/facility_single_doc_view_cluster' %>
  <% end %>

</section>

<script>
    function getJsonSingleDoc() {
        try {
            return JSON.parse($('#single-doc-result').val());
        } catch (ex) {
            // alert('Wrong JSON Format: in view_cluster ' + ex);
        }
    }

    document.getElementById("json-single-doc-output").textContent = JSON.stringify(getJsonSingleDoc(), undefined, 2);

    let text = document.getElementById('json-single-doc-output').innerHTML;
    const copyContent1 = async () => {
        try {
            await navigator.clipboard.writeText(text);
            var originalCopyBtn = document.getElementById('copy-button-1').innerHTML
            document.getElementById('copy-button-1').innerHTML = 'Copied';
            setTimeout(() => {
                document.getElementById('copy-button-1').innerHTML = originalCopyBtn;
            }, 1000);
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
    }
</script>
