<section class="vh-100 bg-light">

  <% if session[:entity_type] == 'provider' %>
    <%= render 'elastic_search/view_cluster/provider_view_cluster' %>
  <% elsif session[:entity_type] == 'facility' %>
    <%= render 'elastic_search/view_cluster/facility_view_cluster' %>
  <% elsif session[:entity_type] == 'provider_single_doc' %>
    <%= render 'elastic_search/view_cluster/provider_single_doc_view_cluster' %>
  <% elsif session[:entity_type] == 'facility_single_doc' %>
    <%= render 'elastic_search/view_cluster/facility_single_doc_view_cluster' %>
  <% end %>

</section>
