<% if @doc_count.present? %>
  <h2 class="fw-bold mb-2 text-center pt-5">Coming Soon!</h2>
  <p class="text-dark-50 mb-5 text-center"><%= session[:index_name] %> | <%= @doc_count %></p>
<% else %>
  <h2 class="fw-bold mb-2 text-center pt-5">Index doesn't exist</h2>
<% end %>
