<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Clarity</a>
  </div>

  <% if session[:elastic_ip].present? %>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item ">
        <h6 class="text-white p-1"><%= session[:elastic_ip] %></h6>
      </li>
      <li class="nav-item ">
        <%= button_to 'Logout', elasticsearch_logout_path, method: :delete %>
      </li>
    </ul>
  <% end %>

  <% if session[:saga_json_url].present? %>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item ">
        <h6 class="text-white p-1"><%= session[:saga_json_url].gsub('https://', '').gsub('-api.azurewebsites.net', '').gsub('-', '.') %></h6>
      </li>
      <li class="nav-item ">
        <%= button_to 'Logout', saga_json_logout_path, method: :delete %>
      </li>
    </ul>
  <% end %>

</nav>
